.page {
    width: 100%;
    margin: 0;
    background-color: #f7f7f7;
    font-family: Oswald, Tahoma;
    font-size: 14px;
}

.page__header {
    height: 560px;
    background-image: url('../images/header-background.jpg');
}

.header__logo {
    float: left;
}

.header__logo_img {
    padding: 20px;
}

.header__links {
    float: right;
    padding: 20px;
}

.links_phone {
    margin-bottom: 20px;
}

.phone {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

.submit {
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}

.links__feedback_button {
    font-weight: 700;
    color: white;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
    display: block;
}
.header-catalog {
    margin: 0 auto;
    width: 100%;
    clear: both;

}
.header-line {
    min-height: 2px;
    background-repeat: repeat-x;
    background-image: url('../images/header-line.png');
}

.about_p {
    font-size: 2em;
    text-align: center;
    color: white;
}

.delivery_p {
    font-size: 1.5em;
    text-align: center;
    color: #b197c1;
}
.catalog-images {
    width: 730px;
    margin: 0 auto;
    height: 230px;
}
.catalog-images__all {
    width: 230px;
    height: 230px;
    margin-right: 20px;
    float: left;
}

.catalog-images__img3 {
    float: right;
    margin-right: 0;
}
.catalog-input {
    width: 10%;
    margin: 0 auto;
    margin-top: 20px;
}
.catalog-input_button {
    font-weight: 700;
    color: white;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
    display: block;
}
.main__collection {
    height: 450px;
    padding: 35px 0 35px 0;
}
.look_p {
    font-size: 2em;
    text-align: center;
    color: #65254A;
}
.collection__look_party {
    width: 90%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.party-images {
    width: 20%;
    margin-right: 5.333%;
    display: inline-block;
    vertical-align: middle;
}
.collection__look_party :last-child {
    margin-right: 0px;
}
.party-img {
    height: 260px;
    width: 260px;
    color: #9b728a;
    border: 2px solid #420C2B;
    border-radius: 3px;
}
.party-p {
    font-size: 1.5em;
    text-align: center;
    color: #9b728a;
}
.main__catalog {
    height: 520px;
    padding: 25px 0 0 0;
    width: 100%;
    padding-top: 70px;
     background: 
    url('../images/page-main__request.png')  50% 0% repeat-x, 
   #d5e4e6 url('../images/page-main__request_bottom.png') 50% 100% repeat-x
}
.collection__catalog-images {
    width: 280px;
    margin-right: 10%;
    display: inline-block;
    vertical-align: middle;
   
}
.catalog-img {
    height: 280px;
    width: 280px;
    color: #9b728a;
    border: 2px solid #420C2B;
    border-radius: 3px;
}
.catalog_p {
    font-size: 2.5em;
    text-align: center;
    color: #65254A;
    margin: 20px;
    font-weight: bold;
}
.collection-about {
    width: 100%;
    font-weight: bold;
    color: #65254A;
}
.about-p {
    display: inline-block;
    font-size: 1em;
    float: left;
}
.collection-price {
    display: inline-block;
    float: right;
}

.collection__look_order {
    margin-top: 20px;
    text-align: center;
}
.look_order_button {
    width: 150px;
    font-weight: 700;
    color: white;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
    text-align: center;
    
}
.page-main__list {
    height: 424px;
    width: 100%;
    background-color: #f3f1f3;
    background-position: 0% 100%;
    background-repeat: repeat-x;
    background-image: url('../images/10_12.png');

}
.list_content{
    width: 70%;
    display: block;
    margin: 0 auto;
    height: 100%;
}
.list_image {
    float: left;
    margin-right: 20px;
    height: 400px;
    display: block;

}
.list_image_img {
    position: relative;
    top: -37px;*/
   
}
.list_enumeration {
   display: block;
   height: 400px;
   text-align: left;
   float: left;
}
.list_enumeration__p_enumeration {
    font-size: 2em;
    color: black;
    text-align: left;
    vertical-align: baseline;
    line-height: 1.5em;
}

.list_enumeration__ul_enumeration {
    list-style-image: url('../images/array.png');
     color: #9b728a;
}
.list_enumeration__li {
    margin-top: 1.5em;
}
.main-rewiews {
    width: 100%;
    margin: 0 auto;
    background: 
    url('../images/page-main__request.png')  50% 0% repeat-x, 
   #f3f1f3 url('../images/page-main__request_bottom.png') 50% 100% repeat-x;
}
.rewiews-content {
   width: 50%;
   margin: 20px auto; 
   height: 142px;
   display: flex;
   align-items: center;
   
}

.rewiews__img {
    width: 142px;
    height: 142px;
    display: inline-block;
}
.rewiews-ul {
   list-style-type: none; 
   padding: 0;
   margin: 0;
}

.blockquote {
margin: 0 10px;
color: #231E28;
padding: 30px 30px 30px 60px;
border-left: 8px solid #CBDDE7;
position: relative;
background: #FAF8EB;
font-family: 'Lato', sans-serif;
font-weight: 300;
}
.blockquote:before{
content: "\201C";
font-family: Arial;
color: #CBDDE7;
font-size: 70px;
position: absolute;
left: 15px;
top: 5px;
}
.blockquote_p {
font-style: italic;
font-size: 24px;
margin-top: 0;  
}


/*==========Подвал==============*/
.page__footer {
    height: 90px;
    background-image: url('../images/header-background.jpg');
   /* clear: both;*/
}
.footer__logo {
    float: left;
}
.footer__logo_img {
    padding: 20px;
}
/*=================================*/

